body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2980b9, #6dd5fa);
}

.container {
  background: white;
  width: 420px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

.admin-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #2980b9;
  font-weight: bold;
  text-decoration: none;
}
